@import './base.css';
@import './styles/variable.css';

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  min-height: 100vh;
}

a {
  text-decoration: none;
  transition: 0.3s;
}